body, .card-body {
    background-color: rgb(34, 34, 34); 
    color: white;
    font-family: 'Lato', sans-serif;
}

header {
    margin: 5%;
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.custom-select {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.25rem;

}
.custom-select:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.anchor {
    text-decoration: none;
}

.anchor:link, .anchor:hover, .anchor:visited {
    color: white;
    text-decoration: none;
}